@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
*{
    margin:0;
}
body{
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}
.container{
    display: flex;
}

.right-side{
    width: 50%;
}

.left-side{
    width: 50%;
    padding-left: 200px;
}
.input{
    border: black solid 1px;
    border-radius: 5px;
    padding: 2px;
    margin: 10px 0;
    width: 360px;
    height: 32px;
}
.logo{
    margin: 30px 0 160px 0;
}
.innerForm{
    margin-top: 50px;
}
.signin{
    color:#fff;
    background-color: rgb(0, 76, 175);
    font-size: 20px;
    padding: 10px 154px;
    border-radius: 5px;
    border: none;
}
h6{
    padding-left: 65px;
    margin-top: 20px;
    font-size: 12px;
}
a{
    text-decoration: none;
}
#for{
    margin-left: 170px;
    color: #000;
    opacity: 0.5;
}
.op{
    opacity: 0.7;
}
#sign{
    color: rgb(0, 76, 175);
}
.language{
    margin-top: 50px;
}
.buttons{
    margin-top: 10px; 
}
.lan{
    border: none;
    padding: 5px 20px;
    margin: 0;
}
.wrong{
    border: orangered dotted 1px;
    border-radius: 5px;
}
.right{
    border: black solid 1px;
    border-radius: 5px;
}